.body{
    margin: 0 auto;
    padding: 0;
}

.Footer{
    background: #F9F6F5;
}

.Footer__wrapper{
    margin-left: 6.9%;
    margin-right: 7.2%;
}

.itemOne{
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
}

.headline{
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #222222;
}

.searchBlock{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 59px;
    width: 50%;
    
}

.search{
    width: 386px;
    height: 56px;
    background: #FFFFFF;
    border: none;
    padding-left: 2.7%;
    outline: none;
    font-family: 'Red Hat Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.submit{
    position: absolute;
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 103px;
    height: 40px;
    background: #402F2C;
    color: #FFFFFF;
    cursor: pointer;
}

hr{
    border: 1px solid #DDDDDD;
    margin-bottom: 59px;
}

.itemTwo{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.logo__img{
    height: 39px;
}

.blockOne{
    width: 30%;
}

.text{
    width: 76%;
    padding-top: 20px;
    font-family: 'Red Hat Display';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
}

.blockTwo{
    width: 25%;
}

.article{
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
}

ul{
    padding-top: 39px;
}

li{
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    list-style-type: none;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

.item__img{
    display: flex;
    gap: 8.5%;
}

@media (max-width: 1200px) {
    .headline{
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
 
    .logo__img{
        height: 30px;
    }
 
    .text{
        width: 100%;
        font-size: 14px;
    }
    
    li{
        font-size: 16px;
    } 
}

@media (min-width: 480px) and (max-width: 767px){

    .itemOne{
        display: flex;
        flex-direction: column;
        padding-top: 103px;
    }
    
    .headline{
        font-size: 24px;
    }
    
    .searchBlock{
        width: 100%;
        padding-top: 30px;
    }
    
    .search{
        width: 100%;
    }
    
    
    hr{
        border: 1px solid #DDDDDD;
        margin-bottom: 59px;
    }
    
    .itemTwo{
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    
    .logo__img{
        height: 24px;
    }
    
    .blockOne{
        width: 52%;
    }
    
    .text{
        width: 100%;
        font-size: 14px;
    }
    
    .article{
        font-size: 16px;
    }
    
    li{
        font-size: 12px;
    }
}

@media (min-width: 280px) and (max-width: 479px){

    .itemOne{
        display: flex;
        flex-direction: column;
        padding-top: 103px;
    }
    
    .headline{
        font-size: 24px;
    }
    
    .searchBlock{
        width: 100%;
        padding-top: 30px;
    }
    
    .search{
        width: 100%;
    }
    
    
    hr{
        border: 1px solid #DDDDDD;
        margin-bottom: 59px;
    }
    
    .itemTwo{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        flex-wrap: wrap;
    }
    
    .logo__img{
        height: 24px;
    }
    
    .blockOne{
        width: 52%;
    }

    .text{
        width: 100%;
        font-size: 14px;
    }
    
    .article{
        padding-top: 20px;
    }
    
    li{
        font-size: 12px;
    }

    ul{
        padding-top: 20px;
    }
}







